<html><head><title>benchmarking array languages</title><link rel=stylesheet href=page.css></head>
<header>
  <h3><a href="index.html">The&nbsp;<small>Array&nbsp;Language</small><br>Benchmarks&nbsp;Game</a></h3>
</header>
<article>
  <h1><q>Fastest</q> contributed programs, grouped by programming language implementation</h1>
  <div>
    <p><small>shamelessly borrowed from <a href='https://benchmarksgame-team.pages.debian.net/benchmarksgame/'>The Computer Language Benchmarks Game</a></small>

    <p id="chart-fastest-elapsed"><img src="%(m)s.svg" alt="Benchmark program elapsed seconds compared to the fastest for selected programming language implementations." title="">
    <section>%(table)s</section>

    %(content)s

    <p>Please contribute more programs for your favourite array language. Note there is only one rule: don't use libraries other than the c/c++ standard libraries or python's sys, multiprocessing and math. There is no restriction on algorithms, unlike the CLBG.
    <p>Please propose interesting new benchmarks
    <p>The benchmark is run on an i5-1135g7 (tiger lake, some avx512) and each process is limited to 2GB of memory
  </div>
</article>
<footer>
    <p>contact jack: @effbiae on the  <a href="https://discord.gg/uCNMrN9Hv">APL Farm discord</a> or @effb.ae on <a href=https://matrix.to/#/@effb.ae:matrix.org>matrix</a>
    <p><br>&nbsp;
</footer>

</html>
